{% extends 'base/temp.html' %} 
{% block content %}

<div class="heading" 
style="font-size: 20px;
font-weight: bold;
margin-bottom: 3px;">What do you wanna know about me????</div>
<div class="quote" style="font-size: 12px;
font-style: italic;
margin-bottom: 10px;font-weight: bold;">"i am the choosen one"</div>
<div class="head" style="font-size: 12px;
font-style: italic ; font-weight: bold;">Checkout my other platforms and works</div>
<div class="links">
<a class="shift" href="https://www.instagram.com/harshit.senpai/" style="
font-size: 14px;
font-style: italic;
color: brown;" target="_blank">Instagram</a><br>
<a class="shift" href="https://www.instagram.com/harshit.senpai/" style="
font-size: 14px;
font-style: italic;
color: brown;" target="_blank">Youtube</a><br>
<a class="shift" href="https://in.pinterest.com/harshitkkummarr/" style="
font-size: 14px;
font-style: italic;
color: brown;" target="_blank">Pinterest</a>
</div>
<style>
    .links
    {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: flex-start;
        font-weight: bold;
    }
</style>
{% endblock %}

