{% extends 'base/temp.html' %} 
{% block content %}
<div class="heading" style="
font-size: 25px;
font-weight: bold;
margin: 0px 0px 10px 0px;
">Introduction</div>
<div class="p" style="font-size: 12px; font-weight: bold; font-style: italic;">
    Hey fellas, i am harshit or let's just say that i am a human but harshit is what people call me by ( a name ofcourse ).
    <br>
    <br>
    I am mostly interested in stuff with high human interactions like debates and discussions
    but sometimes in things that just excites me, something that might make me feel like a god.
    <br>
    <br>
    Creating random stuff and pondering about human existence is what i do most of the times, other than that,
    i love binge watching netflix.
    Why am i telling you all this, maybe because i just want to impress you lol. 
    <br>
    <br>
    Yeah i am serious.
</div>

{% endblock %}